<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ranking</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item ion-item *ngFor="let user of users; let i=index">
      <ion-avatar item-start>
        <img src="{{user.avatar}}">
      </ion-avatar>
      <ion-icon class="trophyIcon" name="trophy" *ngIf="i<3"></ion-icon>
      <h2>{{user.fullName}}</h2>


      <p>Score {{user.score}}</p>
    </ion-item>
  </ion-list>
</ion-content>
