<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Talks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-item *ngIf="projects.length == 0">
    <h1 text-wrap text-center>No projects presentations today</h1>
    <button (click)="startPresentation()">Start presentations!</button>
  </ion-item>
  <ion-card class="current" *ngIf="projects.length > 0">
    <img src="{{projects[currentProject]?.image}}"/>
    <ion-card-content>
      <ion-card-title>
        {{projects[currentProject]?.name}}
        </ion-card-title>
      <p>
        {{projects[currentProject]?.description}}
      </p>

      <h2>Rate this project</h2>
      <div class="container">
          <ion-item>
            <ion-label >Comment</ion-label>
            <ion-input type="text" [(ngModel)]="comment"></ion-input>
          </ion-item>
        <ion-item>
          <ion-icon (click)="rating(1)" [ngClass]="{'active': rate >= 1}" name="start" md="md-star"></ion-icon>
          <ion-icon (click)="rating(2)" [ngClass]="{'active': rate >= 2}" name="start" md="md-star"></ion-icon>
          <ion-icon (click)="rating(3)" [ngClass]="{'active': rate >= 3}" name="start" md="md-star"></ion-icon>
          <ion-icon (click)="rating(4)" [ngClass]="{'active': rate >= 4}" name="start" md="md-star"></ion-icon>
          <ion-icon (click)="rating(5)" [ngClass]="{'active': rate >= 5}" name="start" md="md-star"></ion-icon>
          <button class="button" (click)="postRating()" ion-button icon-left>Vote</button>
        </ion-item>
        <ion-item class="rate">
        </ion-item>
      </div>
      <ion-list>
        <ion-card *ngFor="let comment of projects[currentProject]?.valorations | keys">
          <ion-card-content>{{ projects[currentProject]?.valorations[comment].comment}}</ion-card-content>
        </ion-card>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card  *ngFor="let proj of projects">
    <ion-card-content>
      <ion-card-title>
        {{proj.name}}
        </ion-card-title>
      <p>
        {{proj.description}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
