page-home {

.logo {
  width: 30px;
  float: right;
  margin-right: 10px;
}
.item-ios img {
  width: 140px;
  height: 140px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  ion-badge {
    margin:5px;
  }
}

.createproject button {
  width: 100%;
  margin-top: 20px;
}

.profilecard ion-card {
  width: 100%;
  margin: 0 5px 20px 0;
  padding: 0 0 10px 0;
}


.avatar {
display: flex;
justify-content: center;
margin: 0;

}

.name {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  padding-top: 5px;
}

.name h2 {
  font-size: 25px;
  font-family: roboto;
}

.jokes{
  margin-top: 40px;
  background-color: #f9f9f7;
}
ion-card-header h2 {
  text-align: center;
  padding-top: 10px;
}

}
